<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movefeng.hexoblogadmin.dao.UserDao">

    <!--新增用户-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user (username, email, website)
        values (#{username}, #{email}, #{website})
    </insert>
    <!--根据id批量删除用户-->
    <delete id="deleteBatchById">
        delete from user where id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <!--查询所有用户,带模糊查询-->
    <select id="selectUserAll" resultType="com.movefeng.hexoblogadmin.vo.UserVO">
        select * from
        (
        select user.*, count(comment.id) as commentCount
        from user
        left join comment on comment.user_id = user.id
        where 0 = 0
        <if test="param.searchUsername != null and param.searchUsername != ''">
            and username like concat('%',#{param.searchUsername},'%')
        </if>
        <if test="param.searchEmail != null and param.searchEmail != ''">
            and email like concat('%',#{param.searchEmail},'%')
        </if>
        group by user.id
        ) a
        where 0 = 0
        <if test="param.searchCommentCount != null and param.searchCommentCount != ''">
            and commentCount = #{param.searchCommentCount}
        </if>
    </select>
</mapper>